@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-Black.ttf);
}

@import "tailwindcss/utilities";
